/**** Variables ****/
/**** Body Congif ****/
body {
  margin: 0; }

body, html, main {
  /* important */
  height: 100%; }

/**** Navigation Menu ****/
.main-menu {
  padding-top: 10px;
  height: 55px;
  width: 100%;
  opacity: .95;
  position: fixed;
  z-index: 2;
  background: transparent; }

.main-menu li {
  display: inline-block;
  padding: 0px 20px; }

.main-menu a {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out; }

.main-menu a:hover, .main-menu .current a {
  color: #989898; }

/**** Rows General ****/
.first-row, .second-row, .third-row {
  position: relative;
  width: 100%;
  height: 600px; }

.triangle {
  position: absolute;
  top: 0px;
  left: 46%;
  width: 0%;
  height: 0%;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent; }

button:focus {
  outline: none; }

/**** Main Row ****/
.fixed-row {
  height: 700px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center; }

.main-row {
  background-image: url("/Me/Resource/large.png"); }

.title-wrapper {
  text-align: center;
  height: 100%;
  position: fixed;
  margin: 0 auto;
  padding-top: 12%;
  width: 100%; }

.title-wrapper h1 {
  vertical-align: middle;
  line-height: 1.2em; }

.title-wrapper .bold {
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 400%;
  letter-spacing: 5px; }

.title-wrapper .normal {
  color: #77DD77;
  font-size: 200%;
  font-family: "Droid Serif", serif; }

.main-button {
  border-radius: 50px;
  border: 3px solid #77DD77;
  overflow: hidden;
  color: #77DD77;
  background: transparent;
  width: 20%;
  height: 8%;
  transition: all 0.3s ease-in-out; }
  .main-button:hover {
    background: #37353a;
    cursor: pointer; }
  .main-button span {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 120%; }

/**** First Row ****/
.first-row {
  background: #e6e6e6; }

.first-row header {
  padding-top: 1px;
  text-align: center; }

.first-row table {
  text-align: center;
  table-layout: fixed;
  width: 100%;
  padding: 0 100px; }
  .first-row table .main-icons {
    max-width: 200px; }
  .first-row table td {
    padding: 0 50px; }
    .first-row table td img {
      border-radius: 100%;
      transition: all 0.3s ease-in-out; }
      .first-row table td img:hover {
        color: #37353a;
        transform: scale(0.8, 0.8);
        cursor: pointer; }
  .first-row table p {
    font-family: "Montserrat", sans-serif;
    font-color: #37353a; }
.first-row .title {
  font-size: 150%; }
.first-row h2 {
  color: #37353a;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 350%; }

/**** Second Row ****/
.second-row {
  background: #bdbdbd; }

.second-row .triangle {
  border-top: 30px solid #e6e6e6; }

/**** Third Row ****/
.third-row {
  background: #e6e6e6; }
  .third-row h2 {
    color: #37353a;
    margin: 0px;
    padding-top: 40px;
    text-align: center;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 350%; }
  .third-row .cbp-mc-column label {
    font-weight: bold;
    font-family: "Montserrat", sans-serif; }
  .third-row .cbp-mc-column input, .third-row .cbp-mc-column textarea {
    border: 3px solid #37353a; }
  .third-row .button-wrapper {
    text-align: center; }
    .third-row .button-wrapper .main-button {
      border: 3px solid #37353a;
      color: #37353a;
      min-height: 60px;
      margin-top: 30px; }
      .third-row .button-wrapper .main-button:hover {
        border: 3px solid #77DD77;
        color: #77DD77;
        background: transparent;
        cursor: pointer; }

.third-row .triangle {
  border-top: 30px solid #bdbdbd; }

/**** Fade In ****/
.fade-in {
  opacity: 0; }

/**** Footer ****/
.footer {
  height: 250px;
  background: #37353a; }
