/**** Variables ****/
/**** Foundation Changes ****/
input[type=text]:focus, textarea:focus {
  border-width: 2px;
  border-color: #77DD77; }

button:hover, button:focus, .button:hover, .button:focus {
  background-color: transparent; }

button:hover, button:focus, .button:hover, .button:focus {
  color: #77DD77; }

.row {
  max-width: 67rem; }

/**** Body Congif ****/
body {
  margin: 0; }

body, html, main {
  /* important */
  height: 100%; }

/**** Navigation Menu ****/
.main-menu {
  padding-top: 10px;
  height: 55px;
  width: 100%;
  opacity: .95;
  position: fixed;
  z-index: 2;
  background: transparent; }

.main-menu ul {
  padding-top: 4px; }

.main-menu li {
  display: inline-block;
  padding: 0px 20px; }

.main-menu a {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out; }

.main-menu a:hover, .main-menu .current a {
  color: #989898; }

/**** Rows General ****/
.green-text {
  color: #77DD77; }

h1, h2 {
  letter-spacing: 6px; }

.first-row, .second-row, .third-row, .filler-row, .fourth-row, .fifth-row, .footer {
  position: relative;
  width: 100%; }

.triangle-container {
  margin-left: 46.5%; }
  .triangle-container .triangle {
    position: absolute;
    top: 0px;
    width: 0%;
    height: 0%;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent; }

button:focus {
  outline: none; }

/**** Main Row ****/
.fixed-row {
  height: 600px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center; }

.main-row {
  background-image: url("/Me/Resource/large.png"); }

.title-wrapper {
  text-align: center;
  height: 100%;
  position: fixed;
  margin: 0 auto;
  padding-top: 12%;
  width: 100%; }

.title-wrapper h1 {
  vertical-align: middle;
  line-height: 1.2em;
  margin-bottom: 4%; }

.title-wrapper .bold {
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 400%;
  letter-spacing: 5px; }

.title-wrapper .normal {
  color: #77DD77;
  font-size: 200%;
  font-family: "Droid Serif", serif; }

.main-button {
  border-radius: 50px;
  border: 3px solid #77DD77;
  overflow: hidden;
  color: #77DD77;
  background: transparent;
  transition: all 0.3s ease-in-out; }
  .main-button:hover {
    background: #37353a;
    color: #77DD77;
    cursor: pointer; }
  .main-button span {
    font-letter-spacing: 5px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    font-size: 120%; }

/**** First Row ****/
.first-row {
  background: #e6e6e6; }

.first-row header {
  padding-top: 5%;
  text-align: center;
  padding-bottom: 3%; }
.first-row h2 {
  color: #37353a;
  padding-top: 20px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 350%; }
.first-row .columns {
  text-align: center; }
  .first-row .columns .main-icons {
    padding-right: 15%;
    padding-left: 15%; }
  .first-row .columns p {
    color: #37353a;
    font-family: "Open Sans", sans-serif;
    font-weight: 300; }
  .first-row .columns .title {
    padding-top: 20px;
    font-size: 150%;
    font-weight: bold; }
.first-row .description {
  padding-bottom: 7%; }

/**** Second Row ****/
.second-row {
  background: #37353a;
  padding-top: 5%;
  padding-bottom: 5%; }
  .second-row .triangle {
    border-top: 30px solid #e6e6e6; }
  .second-row .columns {
    padding-top: 40px; }
  .second-row p {
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-weight: 300; }
  .second-row h2 {
    color: #FFFFFF;
    margin: 0px;
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold; }
  .second-row .tempid {
    max-width: 70%; }
  .second-row #resume-button:hover {
    background: #504d55;
    color: #77DD77;
    cursor: pointer; }

/**** Third Row ****/
.stat-row img, .third-row img, .fifth-row img {
  max-height: 100px; }
.stat-row .row, .third-row .row, .fifth-row .row {
  max-width: 70rem; }
.stat-row .padding-bot-top, .third-row .padding-bot-top, .fifth-row .padding-bot-top {
  padding-bottom: 7%;
  padding-top: 7%; }
.stat-row .stat-title, .third-row .stat-title, .fifth-row .stat-title {
  text-align: center; }
  .stat-row .stat-title h2, .third-row .stat-title h2, .fifth-row .stat-title h2 {
    padding-left: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold; }
.stat-row ul, .third-row ul, .fifth-row ul {
  line-height: 3; }
  .stat-row ul li, .third-row ul li, .fifth-row ul li {
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-weight: light; }

.third-row {
  background: #e6e6e6; }
  .third-row h2 {
    color: #37353a; }
  .third-row ul li {
    color: #37353a; }
  .third-row .triangle {
    border-top: 30px solid #37353a; }

.fifth-row {
  background: #37353a; }
  .fifth-row h2 {
    color: #e6e6e6; }
  .fifth-row ul li {
    color: #e6e6e6; }
  .fifth-row .triangle {
    border-top: 30px solid #e6e6e6; }

/**** Filler Row ****/
.filler-row {
  height: 100px;
  background: #37353a; }

/**** Fourth Row ****/
.fourth-row {
  background: #e6e6e6; }
  .fourth-row header {
    padding-top: 5%;
    padding-bottom: 3%; }
    .fourth-row header h2 {
      color: #37353a;
      margin: 0px;
      padding-top: 40px;
      text-align: center;
      font-weight: bold;
      font-family: "Open Sans", sans-serif;
      font-size: 350%; }
  .fourth-row p {
    padding-bottom: 3%;
    color: #a4a4a4;
    text-align: center;
    font-weight: light;
    font-family: "Open Sans", sans-serif;
    font-size: 150%; }
  .fourth-row form .columns {
    width: 50%; }
  .fourth-row form label {
    font-family: "Open Sans", sans-serif;
    font-size: 120%;
    font-weight: bold; }
  .fourth-row form input {
    border-radius: 10px; }
  .fourth-row form textarea {
    border-radius: 10px;
    min-height: 200px;
    max-height: 200px; }
  .fourth-row .button-wrapper {
    text-align: center;
    padding-bottom: 5%; }
    .fourth-row .button-wrapper .main-button {
      border: 3px solid #37353a;
      color: #37353a;
      min-height: 60px;
      margin-top: 30px; }
      .fourth-row .button-wrapper .main-button:hover {
        border: 3px solid #77DD77;
        color: #77DD77;
        background: transparent;
        cursor: pointer; }

.fourth-row .triangle {
  border-top: 30px solid #37353a; }

/**** Fade In ****/
.fade-in {
  opacity: 0; }

/**** Footer ****/
.footer {
  height: 200px;
  background: #37353a; }
