/**** Variables ****/
$White:     #FFFFFF;
$DarkBlue:  #1D2F43;
$Blue:      #779ECB;
$LightBlue: #E8EDE9;
$Grey:      #bdbdbd;
$DarkGrey:  #a4a4a4;
$Purple:    #B39EB5;
$Dark:      #37353a;
$LightDark: #504d55;
$Green:     #77DD77;
$LightGrey: #e6e6e6;
$rowSize:   550px;
$squareText: 'Montserrat', sans-serif;
$fancyText:  'Droid Serif', serif;
$parText:    'Open Sans', sans-serif;
$parLight: 300;

/**** Foundation Changes ****/
input[type=text]:focus, textarea:focus {
  border-width:2px;
  border-color:$Green;
}
button:hover, button:focus, .button:hover, .button:focus {
    background-color: transparent; }
button:hover, button:focus, .button:hover, .button:focus {
    color: $Green; }

.row {
  max-width:67rem;
}
/**** Body Congif ****/
body {
  margin:0;
}
body, html, main {
    /* important */
    height: 100%;
}

/**** Navigation Menu ****/
.main-menu {
  padding-top:10px;
  height:55px;
  width:100%;
  opacity:.95;
  position:fixed;
  z-index: 2;
  background: transparent;
}
.main-menu ul {
  padding-top:4px;
}
.main-menu li{
  display: inline-block; 
  padding:0px 20px;
}
.main-menu a{ 
  color: $White; 
  font-family: $parText;
  letter-spacing:5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.main-menu a:hover, .main-menu .current a{
  color:#989898;
}

/**** Rows General ****/
  .padding-bot-top {
    padding-bottom: 7%;
    padding-top:7%;
  }
header{
   padding-bottom:3%;
   h2{
   text-align:center;
   font: {
     weight:bold;
     family:$parText;
     size:350%;
     }
   }
}
.underline {
  height:8px;
  border-radius:10px;
  width:100px;
  background:$Green;
  margin-left:auto;
  margin-right:auto;
  margin-top:2%;
  margin-bottom:2%;
}
.green-text {
  color:$Green;
}
h1, h2 {
  letter-spacing:6px;
}
.first-row, .second-row, .third-row, .filler-row, .fourth-row, , .fifth-row, .footer {
  position: relative;
  width:100%;
}

.triangle-container {
  margin-left:46.5%;
  .triangle {
    position:absolute;
    top:0px;
    width:0%;
    height:0%;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
  }
}
button:focus{
  outline: none;
}
/**** Main Row ****/
.fixed-row {
  height: 600px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-row {
  background-image: url('/Me/Resource/large.png');
}
.title-wrapper {
  text-align:center;
  height:100%;
  position:fixed;
  margin:0 auto;
  padding-top:12%;
  width:100%;
}
.title-wrapper h1 {
  vertical-align: middle;
  line-height: 1.2em;
  margin-bottom:4%;
}
.title-wrapper .bold{
  color: $White;
  font: {
    weight:bold;
    family:$parText;
    size:400%;
  }
  letter-spacing: 5px;
}
.title-wrapper .normal{
  color:$Green;
  font-size: 200%;
  font-family: $fancyText;
}
.main-button{
  border-radius:50px;
  border:3px solid $Green;
  overflow:hidden;
  color:$Green;
  background:transparent;
  transition: all 0.3s ease-in-out;
  &:hover{
    background:$Dark;
    color: $Green;
    cursor: pointer;
  }
  span{
    font: {
      letter-spacing: 5px;
      weight:$parLight;
      family:$parText;
      size:120%;
    }
  }
}
  

/**** First Row ****/
.first-row {
  background: $LightGrey;
  h2{
    color:$Dark;
  }
  .columns{
    text-align:center;
    .main-icons {
      padding-right:15%;
      padding-left:15%;
    }
    p {
      color:$Dark;
      font: {
        family:$parText;
        weight:$parLight;
      }
    }
    .title {
      font: {
        size: 150%;
        weight:bold;
      }

    }
  }
}

/**** Second Row ****/

.second-row {
  background: $Dark;
  .triangle {
    border-top: 30px solid $LightGrey;
  }
  .columns{
    padding-top: 40px;
  }
  p {
    color:$White;
    font: {
      family:$parText;
      weight:$parLight;
    }
  }
  h2 {
    color:$White;
  }
  .tempid {
    max-width:70%;
  }
  #resume-button {
    &:hover{
      background:$LightDark;
      color: $Green;
      cursor: pointer;
    }
  }
}
/**** Third Row ****/
.stat-row {
  img {
    max-height:100px;
  }
  .row {
    max-width:70rem;
  }
  .stat-title {
    text-align:center;
    h2 {
      padding-left:20px;
      font: {
        family:$parText;
        weight:bold;
      }
    }
  }
  p{
    line-height:4;
     font: {
       family:$parText;
       weight:light;
    }
  }
}
.third-row {
  @extend .stat-row;
  background: $LightGrey;
  h2 {
    color:$Dark;
  }
  ul {
    li {
      color:$Dark;
    }
  }
  .triangle {
    border-top: 30px solid $Dark;
  }
  
}
/*
.fifth-row {
  @extend .stat-row;
  background:$Dark;
  h2 {
    color:$LightGrey;
  }
  ul {
    li {
      color:$LightGrey;
    }
  }
  .triangle {
    border-top: 30px solid $LightGrey;
  }
}
*/
/**** Filler Row ****/
.filler-row {
  height:100px;
  background:$Dark;
}
/**** Fourth Row ****/ 
.fourth-row {
  //background: $LightGrey;
  background:$Dark;
  h2 {
    color:$White;
  }
  p {
    padding-bottom:3%;
    color:$DarkGrey;
    text-align:center;
    font: {
      weight:light;
      family: $parText;
      size:150%;
    }
  }
  form {
    .columns {
      width:50%;
    }
    label {
      color:$White;
      font: {
        family: $parText;
        size:120%;
        weight: light;
      }
    }
    input {
      border-radius:5px;
    }
    textarea {
      border-radius:5px;
      min-height:200px;
      max-height:200px;
      
    }
  }
  .button-wrapper {
      text-align:center;
      padding-bottom:5%;
      .main-button {
        border:3px solid $Green;
        color: $Green;
        min-height:60px;
        margin-top:30px;
        &:hover{
          border:3px solid $Green;
          color: $Green;
          background: $Dark;
          cursor: pointer;
        }
      }
    }
}
.fourth-row .triangle {
  border-top: 30px solid $LightGrey;
}
/**** Fade In ****/
.fade-in {
  opacity:0 ;
}

/**** Footer ****/
.footer {
  height:200px;
  background: $Green;
}