/**** Variables ****/
$White:     #FFFFFF;
$DarkBlue:  #1D2F43;
$Blue:      #779ECB;
$LightBlue: #E8EDE9;
$Grey:      #bdbdbd;
$Purple:    #B39EB5;
$Dark:      #37353a;
$Green:     #77DD77;
$LightGrey: #e6e6e6;
$rowSize:   550px;
$squareText: 'Montserrat', sans-serif;
$fancyText:  'Droid Serif', serif;
$parText:    'Open Sans', sans-serif;

/**** Foundation Changes ****/
input[type=text]:focus, textarea:focus {
  border-width:2px;
  border-color:$Green;
}
button:hover, button:focus, .button:hover, .button:focus {
    background-color: transparent; }
button:hover, button:focus, .button:hover, .button:focus {
    color: $Green; }

/**** Body Congif ****/
body {
  margin:0;
}
body, html, main {
    /* important */
    height: 100%;
}

/**** Navigation Menu ****/
.main-menu {
  padding-top:10px;
  height:55px;
  width:100%;
  opacity:.95;
  position:fixed;
  z-index: 2;
  background: transparent;
}
.main-menu ul {
  padding-top:4px;
}
.main-menu li{
  display: inline-block; 
  padding:0px 20px;
}
.main-menu a{ 
  color: $White; 
  font-family: $squareText;
  letter-spacing:5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.main-menu a:hover, .main-menu .current a{
  color:#989898;
}

/**** Rows General ****/
.first-row, .second-row, .third-row {
  position: relative;
  width:100%;
  height: $rowSize;
}
.triangle {
  position:absolute;
  top:0px;
  left:46%;
  width:0%;
  height:0%;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
}
button:focus{
  outline: none;
}
/**** Main Row ****/
.fixed-row {
  height: 700px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-row {
  background-image: url('/Me/Resource/large.png');
}
.title-wrapper {
  text-align:center;
  height:100%;
  position:fixed;
  margin:0 auto;
  padding-top:12%;
  width:100%;
}
.title-wrapper h1 {
  vertical-align: middle;
  line-height: 1.2em;
  margin-bottom:4%;
}
.title-wrapper .bold{
  color: $White;
  font: {
    weight:bold;
    family:$squareText;
    size:400%;
  }
  letter-spacing: 5px;
}
.title-wrapper .normal{
  color:$Green;
  font-size: 200%;
  font-family: $fancyText;
}
.main-button{
  border-radius:50px;
  border:3px solid $Green;
  overflow:hidden;
  color:$Green;
  background:transparent;
  transition: all 0.3s ease-in-out;
  &:hover{
    background:$Dark;
    color: $Green;
    cursor: pointer;
  }
  span{
    font: {
      letter-spacing: 5px;
      weight:bold;
      family:$squareText;
      size:120%;
    }
  }
}
  

/**** First Row ****/
.first-row {
  background: $LightGrey;
}
.first-row header{
  padding-top:1px;
  text-align:center;
}
.first-row {
  h2{
    color:$Dark;
    padding-top:20px;
    font: {
      weight:bold;
      family:$squareText;
      size:350%;
    }
  }
  .columns{
    text-align:center;
    .main-icons {
      padding-right:15%;
      padding-left:15%;
    }
    p {
      color:$Dark;
      font: {
        family:$squareText;
        
      }
    }
    .title {
      padding-top:20px;
      font-size: 150%;
      font-weight:bold;
    }
  }
}

/**** Second Row ****/

.second-row {
  background: $Dark;
  .triangle {
    border-top: 30px solid $LightGrey;
  }
  .columns{
    padding-top: 40px;
  }
  p {
    color:$White;
    font: {
      family:$parText;
    }
  }
  h2 {
    color: $White;
    margin:0px;
    padding-bottom:20px;
    font: {
      family:$squareText;
      weight:bold;
    }
  }
}
/**** Third Row ****/
.third-row {
  background: $LightGrey;
  h2{
    color:$Dark;
    margin:0px;
    padding-top:40px;
    text-align:center;
    font: {
      weight:bold;
      family:$squareText;
      size:350%;
    }
  }
  form {
    .columns {
      width:50%;
    }
    label {
      font: {
        family: $squareText;
        size:120%;
        weight: bold;
      }
    }
    input {
      border-radius:10px;
    }
    textarea {
      border-radius:10px;
      height:200px;
    }
  }
  .button-wrapper {
      text-align:center;
      .main-button {
        border:3px solid $Dark;
        color: $Dark;
        min-height:60px;
        margin-top:30px;
        &:hover{
          border:3px solid $Green;
          color: $Green;
          background: transparent;
          cursor: pointer;
        }
      }
    }
}
.third-row .triangle {
  border-top: 30px solid $Dark;
}
/**** Fade In ****/
.fade-in {
  opacity:0 ;
}

/**** Footer ****/
.footer {
  height:200px;
  background: $Dark;
}