/**** Variables ****/
/**** Foundation Changes ****/
input[type=text]:focus, textarea:focus {
  border-width: 2px;
  border-color: #77DD77; }

button:hover, button:focus, .button:hover, .button:focus {
  background-color: transparent; }

button:hover, button:focus, .button:hover, .button:focus {
  color: #77DD77; }

/**** Body Congif ****/
body {
  margin: 0; }

body, html, main {
  /* important */
  height: 100%; }

/**** Navigation Menu ****/
.main-menu {
  padding-top: 10px;
  height: 55px;
  width: 100%;
  opacity: .95;
  position: fixed;
  z-index: 2;
  background: transparent; }

.main-menu ul {
  padding-top: 4px; }

.main-menu li {
  display: inline-block;
  padding: 0px 20px; }

.main-menu a {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out; }

.main-menu a:hover, .main-menu .current a {
  color: #989898; }

/**** Rows General ****/
.first-row, .second-row, .third-row {
  position: relative;
  width: 100%;
  height: 550px; }

.triangle {
  position: absolute;
  top: 0px;
  left: 46%;
  width: 0%;
  height: 0%;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent; }

button:focus {
  outline: none; }

/**** Main Row ****/
.fixed-row {
  height: 700px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center; }

.main-row {
  background-image: url("/Me/Resource/large.png"); }

.title-wrapper {
  text-align: center;
  height: 100%;
  position: fixed;
  margin: 0 auto;
  padding-top: 12%;
  width: 100%; }

.title-wrapper h1 {
  vertical-align: middle;
  line-height: 1.2em;
  margin-bottom: 4%; }

.title-wrapper .bold {
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 400%;
  letter-spacing: 5px; }

.title-wrapper .normal {
  color: #77DD77;
  font-size: 200%;
  font-family: "Droid Serif", serif; }

.main-button {
  border-radius: 50px;
  border: 3px solid #77DD77;
  overflow: hidden;
  color: #77DD77;
  background: transparent;
  transition: all 0.3s ease-in-out; }
  .main-button:hover {
    background: #37353a;
    color: #77DD77;
    cursor: pointer; }
  .main-button span {
    font-letter-spacing: 5px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 120%; }

/**** First Row ****/
.first-row {
  background: #e6e6e6; }

.first-row header {
  padding-top: 1px;
  text-align: center; }

.first-row h2 {
  color: #37353a;
  padding-top: 20px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 350%; }
.first-row .columns {
  text-align: center; }
  .first-row .columns .main-icons {
    padding-right: 15%;
    padding-left: 15%; }
  .first-row .columns p {
    color: #37353a;
    font-family: "Montserrat", sans-serif; }
  .first-row .columns .title {
    padding-top: 20px;
    font-size: 150%;
    font-weight: bold; }

/**** Second Row ****/
.second-row {
  background: #37353a; }
  .second-row .triangle {
    border-top: 30px solid #e6e6e6; }
  .second-row .columns {
    padding-top: 40px; }
  .second-row p {
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif; }
  .second-row h2 {
    color: #FFFFFF;
    margin: 0px;
    padding-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold; }

/**** Third Row ****/
.third-row {
  background: #e6e6e6; }
  .third-row h2 {
    color: #37353a;
    margin: 0px;
    padding-top: 40px;
    text-align: center;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 350%; }
  .third-row form .columns {
    width: 50%; }
  .third-row form label {
    font-family: "Montserrat", sans-serif;
    font-size: 120%;
    font-weight: bold; }
  .third-row form input {
    border-radius: 10px; }
  .third-row form textarea {
    border-radius: 10px;
    height: 200px; }
  .third-row .button-wrapper {
    text-align: center; }
    .third-row .button-wrapper .main-button {
      border: 3px solid #37353a;
      color: #37353a;
      min-height: 60px;
      margin-top: 30px; }
      .third-row .button-wrapper .main-button:hover {
        border: 3px solid #77DD77;
        color: #77DD77;
        background: transparent;
        cursor: pointer; }

.third-row .triangle {
  border-top: 30px solid #bdbdbd; }

/**** Fade In ****/
.fade-in {
  opacity: 0; }

/**** Footer ****/
.footer {
  height: 200px;
  background: #37353a; }
