/**** Variables ****/
$White:     #FFFFFF;
$DarkBlue:  #1D2F43;
$Blue:      #A4C6CF;
$LightBlue: #E8EDE9;
$Grey:      #CFCFC4;
$Purple:    #B39EB5;
$Dark:      #37353a;
$rowSize:   600px;

/**** Body Congif ****/
body {
  margin:0;
}
body, html, main {
    /* important */
    height: 100%;
}

/**** Navigation Menu ****/

.main-menu {
  padding-top:20px;
  height:70px;
  width:100%;
  top:0;
  opacity:.95;
  position:fixed;
  z-index: 2000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background: $White;
}
.main-menu li{
  display: inline-block; 
  padding:0px 20px;
}
.main-menu a{ 
  color: $DarkBlue; 
  font-weight:bold;
}
.main-menu a:hover, .main-menu .current a{
  color:#989898;
}

/**** Rows General ****/
.first-row, .second-row, .third-row {
  position: relative;
  width:100%;
  height: $rowSize;
}
/**** Main Row ****/
.fixed-row {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-row {
  background-image: url("https://unsplash.imgix.net/uploads%2F14115408840644deb16b0%2F2dc933e3?q=75&fm=jpg&auto=format&s=7f43646e4d26049c6c39890afb2e5ced");
}
/**** First Row ****/
.first-row {
  background: $White;
  padding-top: 100px;
}

/**** Second Row ****/
.second-row {
  background: $Dark;
}
.second-row .triangle {
  position:absolute;
  top:-5px;
  left:46%;
  width:0%;
  height:0%;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 30px solid $White;

}
/**** Third Row ****/
.third-row {
  background: $Blue;
}

/**** Fade In ****/
.fade-in {
  opacity:0 ;
}

